<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorAltasVotante</servlet-name>
        <servlet-class>Controladores.ControladorAltasVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBajaVotante</servlet-name>
        <servlet-class>Controladores.ControladorBajaVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIniciarSesion</servlet-name>
        <servlet-class>Controladores.ControladorIniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificarVotante</servlet-name>
        <servlet-class>Controladores.ControladorModificarVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorListadoCenso</servlet-name>
        <servlet-class>Controladores.ControladorListadoCenso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEscrutinio</servlet-name>
        <servlet-class>Controladores.ControladorEscrutinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorObtenerPartidos</servlet-name>
        <servlet-class>Controladores.ControladorObtenerPartidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVotarPartido</servlet-name>
        <servlet-class>Controladores.ControladorVotarPartido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorMostrarElectos</servlet-name>
        <servlet-class>Controladores.ControladorMostrarElectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDispatcher</servlet-name>
        <servlet-class>Controladores.ControladorDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCompruebaRegistro</servlet-name>
        <servlet-class>Controladores.ControladorCompruebaRegistro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorAltasVotante</servlet-name>
        <url-pattern>/ControladorAltasVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBajaVotante</servlet-name>
        <url-pattern>/ControladorBajaVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIniciarSesion</servlet-name>
        <url-pattern>/ControladorIniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificarVotante</servlet-name>
        <url-pattern>/ControladorModificarVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorListadoCenso</servlet-name>
        <url-pattern>/ControladorListadoCenso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEscrutinio</servlet-name>
        <url-pattern>/ControladorEscrutinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorObtenerPartidos</servlet-name>
        <url-pattern>/ControladorObtenerPartidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVotarPartido</servlet-name>
        <url-pattern>/ControladorVotarPartido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorMostrarElectos</servlet-name>
        <url-pattern>/ControladorMostrarElectos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDispatcher</servlet-name>
        <url-pattern>/ControladorDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCompruebaRegistro</servlet-name>
        <url-pattern>/ControladorCompruebaRegistro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
